.custom-header {
    background: linear-gradient(135deg, #0052cc, #007bff);
    color: #f5f5f5;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: all 0.3s ease-in-out;
    margin-top: 0; /* Remove a margem superior do header */
    padding: 0; /* Remove todo o padding do header */
}

.icon-container a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.icon-container a:hover {
    color: #e6e6e6;
}

.location-date {
    font-size: 0.8em;
    margin-top: 2px;
    text-align: right;
}

.custom-logo {
    max-height: 80px;
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .custom-header {
        flex-direction: column;
        text-align: center;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.top-accessibility-bar {
    background-color: rgba(255, 255, 255, 0.3);
    color: #0052cc;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 82, 204, 0.3);
    opacity: 70%;
    padding: 0; /* Remove todo o padding da barra de acessibilidade */
}

.top-accessibility-bar a {
    color: #007bff;
    transition: color 0.3s;
}

.top-accessibility-bar a:hover {
    color: #007bff;
}

.top-accessibility-bar .fw-bold {
    font-weight: 600;
}

/* Estilo para o nome da secretaria */
.secretaria-nome {
    font-size: 2.0em;
    font-weight: bold;
    color: #fff;
    margin-left: 0; /* Ajuste a margem esquerda conforme necessário */
    text-align: left; /* Alinha o texto à esquerda */
    width: auto; /* Ajuste a largura conforme necessário */
}

/* Responsividade específica para 1080px */
@media (max-width: 1080px) {
    .secretaria-nome {
        display: none;
    }
}

/* Responsividade específica para 390 x 844 pixels */
@media (max-width: 390px) and (max-height: 844px) {
    .custom-header {
        height: 100px;
    }

    .icon-container a {
        font-size: 0.8em;
    }

    .location-date {
        font-size: 0.7em;
    }

    .secretaria-nome {
        display: none;
    }

    .custom-header .d-flex {
        justify-content: space-between;
    }
}
