/* Navbar */
.navbar {
  background: rgba(0, 123, 255, 0.9);
  text-align: center;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 0; 
}

.navbar.scrolled {
  background: linear-gradient(135deg, #0052cc, #007bff);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-nav {
  display: flex;
  margin: 0;
}

.navbar .nav-item {
  position: relative;
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  padding: 10px 15px; /* Ajustar padding dos links da navbar */
}

/* Estilos para os links da navbar */
.navbar .nav-link {
  color: white;
}

.navbar .nav-link:hover {
  color: #f8f9fa;
}

.navbar a i {
  margin-right: 8px;
}

.navbar a:hover {
  color: #e6e6e6;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #fcfcfc;
  transition: width 0.3s ease-in-out;
}

.navbar a:hover::after {
  width: 100%;
}

.navbar .dropdown-menu {
  background-color: #007bff;
  border: none;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px;
  display: none;
  z-index: 1000;
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
}

/* Estilos para os itens do dropdown */
.navbar .dropdown-menu .dropdown-item {
  color: black;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa;
  color: rgb(253, 253, 253);
}

.navbar .dropdown-menu .dropdown-item {
  color: white;
  padding: 10px; /* Ajustar padding dos itens do dropdown */
  display: block;
  transition: background 0.3s;
  text-align: left;
  font-size: 14px;
  letter-spacing: 1px;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background: #0052cc;
}

/* Estilos para os botões da navbar */
.navbar .nav-link.dropdown-toggle {
  color: white;
}

.navbar .nav-link.dropdown-toggle:hover {
  color: #f8f9fa;
}

/* Responsividade */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }

  .navbar .nav-item {
    margin: 5px 0;
  }

  .navbar .dropdown-menu {
    position: static;
    display: none;
  }

  .navbar .dropdown.active .dropdown-menu {
    display: block;
  }
}

/* Estilos para o botão fixo "Acessar" */
.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  padding: 0; 
  font-size: 16px; 
  border-radius: 50%; 
  cursor: pointer; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; 
  height: 50px; 
  transition: width 0.3s ease, padding 0.3s ease, background-color 0.3s ease; 
  overflow: hidden; 
  opacity: 0.8; 
}

.fixed-button:hover {
  background-color: #0056b3; 
  width: auto; 
  padding: 10px 20px; 
  border-radius: 25px; 
  opacity: 1; 
}

.fixed-button .button-text {
  margin-left: 10px; 
  white-space: nowrap; 
}

/* Ajustes para telas menores */
@media (max-width: 390px) {
  .fixed-button {
    width: 40px; 
    height: 40px; 
    font-size: 14px; 
    opacity: 0.8; 
  }

  .fixed-button .button-text {
    display: none; 
  }

  .icon-container a {
    font-size: 0.8em; 
  }

  .top-accessibility-bar {
    font-size: 12px; 
  }

  .top-accessibility-bar a {
    font-size: 12px; 
  }

  .top-accessibility-bar .fw-bold {
    font-size: 12px; 
  }
}